In [2]:
import numpy as np

In [12]:
import pandas as pd

In [13]:
import matplotlib.pyplot as plt

**Atividade 1.1
O texto a seguir foi extraído da página do IBOPE na Internet:
www.ibope.com.br. Aí temos parte da descrição da pesquisa sociodemográfica
realizada por esse instituto. Identifique as variáveis pesquisadas,
classificando-as como qualitativas ou quantitativas.**

Variáveis: 
    domicílio(condição de rua e tipo de imóvel) = qualitativo
    condição socieconomica do domicílio(informação de renda 
                                        e classificação econômica) = quantitativa
    números de pessoas no domicílio = variável quantitativa
    quantidade de crianças e adolecentes = quantitativa
    idade = qualitativo
    grau de instrução e condição de atividade do chege da casa e da dona-de-casa = qualitativo
    posso de bens = quantitativa
    acesso a serviços de mídia = quantitativo

<b> Atividade 1.2
Para o Departamento Financeiro, obteve-se a seguinte informação sobre
o sexo dos 23 funcionários:
M F F M M M F F M M M M
M F M M F F M M M F F
onde M = Masculino e F = Feminino. Construa uma tabela de frequências
para esses dados.</b>

In [18]:
a = pd.Series(['M', 'M', 'M', 'M',  'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M'])
b = pd.Series([ 'F', 'F', 'F', 'F', 'F', 'F', 'F','F', 'F'])

In [20]:
c = pd.concat([a,b])
c

0     M
1     M
2     M
3     M
4     M
5     M
6     M
7     M
8     M
9     M
10    M
11    M
12    M
13    M
0     F
1     F
2     F
3     F
4     F
5     F
6     F
7     F
8     F
dtype: object

In [21]:
b = pd.DataFrame(c)
b

    0
0   M
1   M
2   M
3   M
4   M
5   M
6   M
7   M
8   M
9   M
10  M
11  M
12  M
13  M
0   F
1   F
2   F
3   F
4   F
5   F
6   F
7   F
8   F

<b> Pesquisar: https://minerandodados.com.br/7-tipos-graficos-cientista-de-dados/
https://cavernadedados.com/2019/05/estatistica-descritiva-com-python.html
<b/>